.main-footer{
    background: #d91c5c;
    .wrapper{
        .flex-footer{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            .top-layer{
                .social-icons{
                    display: flex;
                    text-align: center;
                    justify-content: space-evenly;
                    width: 50%;
                    margin: 0 auto;
                    padding: 20px 0px;
                    padding-top: 40px;
                    a{
                        display: block;
                        width: fit-content;
                        svg{
                            width: 30px;
                            height: 30px;
                            display: block;
                            fill: #000;
                            background: #fff;
                            border-radius: 100%;

                        }
                    }
                }
               
            }
            .address{
                text-align: center;
                font-family: "Montserrat", Sans-serif;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                line-height: 32px;
                padding-bottom: 30px;
                a,span{
                    display: block;

                }
                a{
                    text-align: center;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .main-footer{
        background: #d91c5c;
        padding: 20px 0px;
        .wrapper{
            .flex-footer{
                display: flex;
                flex-direction: row-reverse;
                align-content: center;
                align-items: center;
                justify-content: space-around;
            
                .top-layer{
                    .social-icons{
                        display: flex;
                        text-align: center;
                        justify-content: space-evenly;
                        width: 50%;
                        margin: 0 auto;
                        padding: 20px 0px;
                        padding-top: 0px;
                        column-gap: 11px;
                        align-items: center;
                        a{
                            display: block;
                            width: fit-content;
                            svg{
                                width: 40px;
                                height: 40px;
                                display: block;
                                fill: #000;
                                background: #fff;
                                border-radius: 100%;
                                transition: all 0.3s;
                            }
                            .tw{
                                fill:"#ffffff";
                                transition: all 0.3s;

                            }
                            .tw:hover{
                                fill: transparent;
                                transition: all 0.3s;

                            }
                            svg:hover{
                                width: 40px;
                                height: 40px;
                                display: block;
                                fill: #000;
                                background: transparent;
                                border-radius: 100%;
                                transition: all 0.3s;

                            }
                        }
                    }
                   
                }
                .address{
                    text-align: center;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    color: #fff;
                    line-height: 32px;
                    padding-bottom: 0px;
                    a,span{
                        display: block;
                        text-align: left;
                        width: fit-content;
                        margin: 0;
    
                    }
                    a{
                        text-align: center;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}